*{ /* 8 la tat ca */

}
body{
    background-color: #f2f2f2;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: "font-family: 'Lora', serif;";
}
div{
    width: calc(25% - 62);
    height: 350px;
    border: 1px solid darkgreen;
    padding: 10px;
    float: left; /* ;à lệnh dồn */
    margin: 15px;
    box-sizing: border-box; /* chi dc sử dụng tối đa 350px */
    overflow: hidden;
    box-shadow: 0px 0px 5px #AAAAAA;
    border-radius: 5px; /* cat gosc */
    background-color: #ffffff;
    text-align: center;
}
img{
    max-width: 100%;
}
#aa{
    width: 800px;
    height: 1200px;
}
#aa img{
    width: 200px;
    height: auto;
}
#g{  /* meo lam hinh tron */
    width:30px;
    height:30px;
    background-color:red ;
    border-radius: 100%;
}
#center{                                                                                                                                                                            
    float: none;
    width: 200px;
    background-color: darkgreen;
    margin: 10px auto;
}