span{
    float: right;
    text-align: right;
    margin-top: 40px;
}
img{

    width: 120px;

}
p{
    border-bottom: dashed purple 1px ;
    margin-bottom: 5px;
}
a{
    color: purple;
    text-decoration: underline ;
}
.aa{
   margin-bottom: 20px;
}
body{
    width: 50%;
    margin: auto;
}
/*.aa{
    transform:translate(100px 200px);
    transition:all 600ms;
}
.aa:hover{
    transform: rotate(360deg);
    background-color: orangered;

} cách tạo ra sự dịch chuyển */