body{
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: #e5e5e5;

}
#home{
    width: 800px;
    height:700px;
    border: 1px solid white;
    margin-top:85px;
    margin-left:2px;
    text-align: right;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #ffffff;
}
.a{
    margin-right: 640px;
    font-size: 25px;
    margin-top: 40px;
}
.a1{
    border-bottom: 1px solid #595959;
    width: 700px;
    height:50px ;
    margin-left: 48px;
    background-color: #e0e0e0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.TOT {
    margin-right: 600px;
    outline: none;
    border: 0px solid;
    background-color: #e0e0e0;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
}
.TOT1{
  float: left;
    background-color: #e0e0e0;
    width: 330px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 7px 7px 0px 0px;
    margin-left: 45px;
}
.TOT2{
    float: left;
    background-color: #e0e0e0;
    width: 330px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 7px 7px 0px 0px;
    margin-left: 45px;
}
.chu1{
    margin-right: 300px;
    margin-top: 85px;
}
.chu2{
    float: left;
    background-color: #e0e0e0;
    width: 710px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 7px 7px 0px 0px;
    margin-left: 45px;
}
.b{
    margin-right: 580px;
    font-size: 23px;
    margin-top: 13px;
}
.chu3{
    float: left;
    background-color: #e0e0e0;
    width: 710px;
    height: 50px;
    border: 0px;
    font-size: 17px;
    margin-top: 50px;
    border-radius: 7px 7px 0px 0px;
    margin-left: 45px;
}
.c{
margin-right: 650px;
    font-size: 20px;
    margin-top: 13px;
}
.buff{
    margin-right: 610px;
    margin-top: -20px;
}
#home1 {
    text-align: left;
    margin-top: 245px;
    margin-left: 45px;
    font-size: 20px;
}
.tu2{
    float:right;
    margin-top: -142px;
    margin-right: 150px;
    font-size: 20px;
}










