body{
    background-image: url('./img/gg.jpg');
    background-repeat: no-repeat; /* */
    background-size: cover;

}
h1{
    color: black; /* màu chữ */
    font-size: 30px; /* */
    font-family: "time new roman"; /* loại chữ */
    font-weight: 700; /* độ đậm nhạt của chữ */
    line-height: 50px; /* độ cao của dòng */
    text-decoration: underline line-through overline; /* gạch chân, gạch  */
    text-transform: uppercase; /* in hoa */
    text-transform: lowercase; /* viết thường*/
    text-transform: capitalize; /* viết hoa chữ cái đầu tiên */
    text-transform: none; /* kệ không can thiệp */
}
p{
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    width: 400px; /* kích thước */
    text-align: left; /* can lề left, right, center */
    text-align: justify; /* căn đều */
    background-color: #61f068; /* màu nên */
}
img{
max-width:100%;
}